header{
    background-image: linear-gradient(to right, rgb(100, 100, 241), rgb(59, 59, 137), rgb(45, 4, 121) );
    color: white;
    text-align: center;
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 1px;
    padding-bottom: .3px;
    font-family: Arial, Helvetica, sans-serif;
    }
    
    .sidenav {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-left: 10px;
    height: 1000%;
    width: 200px;
    position: fixed;}
    
    .sidenav label{
        font-size: 24px;
        font-weight: bold;
        margin-left: -265px;
        margin-top: -15px;
    }
    
    .sidenav button{
    width: 230px;
    border-radius: 3px;
    background-color:rgba(151, 148, 148, 0.687);
    margin-bottom: 2px;
    border: none;
    padding-top:4px;
    padding-bottom: 4px;
    margin-left: -280px;
    margin-top: 10px;
   
    }
    
    .sidenav button:active,.sidenav button:hover{
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }
    
    .sidenav input{
        margin-left: -265px;
        width: 225px;
    }

    #search-btn{
      margin-left: -265px;
      background-color: rgba(71, 129, 211, 0.861);
    }
    
    #searchButton:active,#seachButton:hover{
        transition: all 0.3s ease-in-out;
        cursor: pointer;  
    }
    
    #cityName{
        width: 232px;
        height: 27px;
        margin-bottom: 10px;
    }
    
    hr{
        margin-top: 7px;
        margin-bottom: -10px;
        width: 229px;
        margin-left: -265px;
    }
    
    .currentWeather{
     display: flex;
     margin-top: 10px;
     height: 170px;
     width: 68%;
     border-color: black;
   text-align: right;
    }

    .currentWeather p{
        margin-top: 10px;
        white-space: nowrap;
        margin-left: 170px;
    }

    #weather-icon{
    width: 50px;
    height: 50px;
    }
    
.fiveDay h2{
    margin-left: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

    .col-sm-2 {
    background-color: rgb(59, 59, 79);
    margin-left: 270px;
    width: 200px;
    height: 240px;
    margin-inline-start: 20px;
    }
    
    .col-sm-12 h3{
        margin-right: -172px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: bold;
        margin-top: 20px;
    }

    .col-sm-12 h2{
        margin-right: 70px;
        margin-top: 20px;
        margin-left: 100px;
        white-space: nowrap;
    }
    
    .col-sm-12{
        margin-left: 263px;
    }


    .card-body{
        background-color: rgb(59, 59, 79);
        height: 240px;  
    }

    .card-body p{
        color: white;
    }
    
